# Code::Blocks project settings
/*.cbp

# Codelite project settings
/*.project
/*.workspace

# Gradle project settings
/local.properties
.gradle/
build*/
.cxx/

# JetBrains IDE project settings
/.idea/
/cmake-build-*/
*.iml

# KDevelop project settings
/*.kdev?

# Qt Creator project settings
/CMakeLists.txt.user

# Visual Studio project settings
/CMakeSettings.json
/.vs/
/out/

# Misc.
*~
*.swp
.DS_Store
*.log
*.bak
Thumbs.db
.directory
.cache

# Project
rakefile
local.properties
Local
source-tool/

app/google*
appn*/
appt*/

bin-*/
exe/server/package-lock*
exe/server/node*/
exe/server/pem*/
exe/web-pem
exe/build*

keystore.properties

script/bake
script/archive
script/zipper

TODO*.txt
NOTE*.txt
*.old

*.workspace*
*.code-workspace

# VSCode
.vscode/

# Temporary
app/src/main/cpp/Test/Network/
app/src/main/temp*

# Remove Editor
bin/Editor.sh
bin/Urho3DPlayer
bin/Data/Editor*/

# Remove Tooling
bin/tool

